button {
    &:hover {
        cursor: pointer;
    }
    background: #fff;
    padding: 0;
    border: none;
    &.button-add {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: flex-end;
    }
    &.button-close {
        width: 12px;
        height: 12px;
        display: flex;
        background: #E2EAF0;
        margin-left: 20px;
    }
}

.main-container {
    display: flex;
    flex: 1;
    padding: 20px;
}

img {
    &:hover {
        cursor: pointer;
    }
    &.close {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
    }
    &.book {
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);

    }
    &.date {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    &.download {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }
    &.plus {
        width: 20px;
        height: 20px;
    }
    &.minus {
        width: 20px;
        height: 20px;
        margin-top: 11px;
    }
}

.main-title {
    position: relative;
    background: #6C899E;
    height: 53px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .application {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
    }
}

.main-content {
    height: 650px;    
}

.clear {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

input {
    margin: 0;
    padding: 0;
    padding-left: 12px;
    height: 38px;
    border: 0.8px solid #AFBEC9;
    border-radius: 2px;
    &.right-input {
        width: 308px;
    }
    &.left-input {
        width: 216px;
    }
    &.data-input {
        width: 210px;
    }
    &.small {
        width: 86px;
    }
    &.long {
        width: 466px;
    }
}

p {
    color: #000;
    &.left-p {
        width: 130px;
    }
    &.left-p:after {
        content: " *";
        color: #FF4343;
    }
    &.download-p {
        width: 115px;
    }
    &.right-p {
        width: 194px;
        margin-left: 20px;
    }
    &.button-p {
        margin: 0;
        margin-left: 35px;
    }
    &.title {
        display: flex;
        justify-content: center;
        height: 40px;
        border-radius: 2px;
        width: 220px;
        height: 20px;
        font-size: 13px;
        line-height: 15px;
        color: #6C899E;
    }
    &.scan-p {
        margin: 0;
        color: #fff;
    }
}

.star {
    color: red;
}

.line {
    position: absolute;
    border: 0.8px solid #AFBEC9;
}

hr {
    position: relative;
    width: 478px;
    height: 0px;
    border: 0.8px solid #AFBEC9;
    margin: 5px 0 15px;
}

.container-left {
    width: 480px;
    display: flex;
    flex-direction: column;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .input-block {
            position: relative;
            .download-button {
                width: 180px;
                border: 0.8px solid #AFBEC9;
                border-radius: 2px;
                background-color: #fff;
                height: 34px;
                color: #6C899E;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.container-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
    .tab-title {
        background: #E2EAF0;
        width: 220px;
    }
    .row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        .switch {
            display: flex;
            align-items: center;
            .plus {
                margin: 0;
            }
            .minus {
                margin: 0;
            }
            .p-number {
                display: flex;
                justify-content: center;
                width: 32px;
            }
        }
        .interval {
            display: flex;
            align-items: center;
            .p-minus {
                display: flex;
                justify-content: center;
                width: 20px;
                margin: 0;
                align-items: center;
                height: 40px;
            }
            .plus {
                width: 20px;
                height: 20px;
                margin-left: 15px;
            }
            .p-interval {
                margin-left: 10px;
            }
        }
        .input-block {
            position: relative;
            .download-button {
                width: 180px;
                text-decoration: none;
                border-style: solid none;
                border: 0.8px solid #AFBEC9;
                box-sizing: border-box;
                border-radius: 2px;
                background-color: #fff;
                height: 34px;
                color: #6C899E;
            }
            .scan-button {
                width: 180px;
                text-decoration: none;
                border-style: solid none;
                border: 0.8px solid #AFBEC9;
                box-sizing: border-box;
                border-radius: 2px;
                background-color: #6C899E;
                height: 36px;
                color: #fff;
                margin-left: 24px;
            }
        }
    }
}

.background {
    background-color: #E2EAF0;
}

.true {
    background-color: #2F80ED;
    color: #fff;
    margin-right: 10px;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 2px;
    height: 36px;
    width: 138px;
}

.false {
    background-color: #fff;
    color: #0052B0;
    border: 1px solid #2F80ED;
    box-sizing: border-box;
    border-radius: 2px;
    height: 36px;
    width: 138px;
}