<!-- <img src="./assets/icons/close.svg" alt="">
<input type="text"> -->
<div class = "main-title">
  <h1 mat-dialog-title>Заявка - №1
    <img class = "close" src="./assets/icons/close.svg" alt="" (click)="onNoClick()">
  </h1>
</div>
<div>
  <div class = "left-column">
    <mat-form-field class = "container-left">
      <p>
        <input class = "long" placeholder="Наименование заказчика" matInput='data.company'>
        <img class = "book" src="./assets/icons/book.svg" alt="" (click)="onNoClick()">
      </p>
      
      <p>
        <span>БИН</span>
        <input class = "left-input" placeholder="2112321246674" matInput='data.company'>
      </p>
      <p>
      <span>№ договора</span> <input class = "left-input" placeholder="1223" matInput='data.company'>
      </p>
      <p>
      <span>Дата планового завершения</span>
      <input class = "left-input" placeholder="10 ЯНВ 2019 г." matInput='data.company'>
      <img class = "date" src="./assets/icons/date.svg" alt="" (click)="onNoClick()">
      </p>
    </mat-form-field>
  </div>
  <div class = "right-column">
    <mat-form-field class = "container-right">
      <p class = "title">
      <span>Номер пробы 1</span>
    </p>
      <p>
      <span>Месторождение</span>
        <input placeholder="с. Бесагалы" matInput='data.company'>
        <img class = "book" src="./assets/icons/book.svg" alt="" (click)="onNoClick()">
      </p>
      <p>
      <span>№ скважины</span>
        <input placeholder="191920" matInput='data.company'>
      </p>
      <p>
        <span>Количество проб</span>
        
        <img class = "plus" src="./assets/icons/plus.svg" alt="" (click)="onNoClick()">

        <!-- <input matInput [(ngModel)]="sample" type="number"> -->

        <img class = "minus" src="./assets/icons/minus.svg" alt="" (click)="onNoClick()">
      </p>
      <p>
      <span>Тип пробоотборника</span>
        <input  matInput='data.company'>
        <img class = "book" src="./assets/icons/book.svg" alt="" (click)="onNoClick()">
      </p>
      <p>
      <span>Интервал перфорации</span>
        <input class = "small" placeholder="445" matInput='data.company'>
        <input class = "small" placeholder="345" matInput='data.company'>
      </p>
      <p>
      <span>Глубина отбора</span>
        <input placeholder="191920" matInput='data.company'>
      </p>
      <p>
      <span>Температура (&deg;C)</span>
        <input matInput='data.company'>
      </p>
      <p>
      <span>Давление (MPa)</span>
        <input matInput='data.company'>
      </p>
      <p>
      <span>Дата отбора</span>
        <input placeholder="10 ЯНВ 2019 г." matInput='data.company'>
        <img class = "date" src="./assets/icons/date.svg" alt="" (click)="onNoClick()">
      </p>
      <p>
      <span>Дата поступления</span>
        <input placeholder="22 ЯНВ 2019 г." matInput='data.company'>
        <img class = "date" src="./assets/icons/date.svg" alt="" (click)="onNoClick()">
      </p>
      <p>
      <span>ID номер пробы</span>
        <input matInput='data.company'>
      </p>
      
    </mat-form-field>
    <div class = "clear" mat-dialog-actions>
      <button class = "true" mat-button [mat-dialog-close] cdkFocusInitial>Создать</button>
      <button class = "false" mat-button (click)="onNoClick()">Отменить</button>
    </div>
  </div>
</div>